* {
  border: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1 {
  text-align: center;
}
h2 {
  margin-bottom: 15px;
}
main {
  min-height: 20rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20em;
  padding: 10px;
  border-radius: 18px;
  background-color: rgb(242, 246, 248);
}
form input {
    border-radius: 18px;
  margin-bottom: 20px;
}
form div {
  width: 15rem;
}
.separar {
  display: flex;
  justify-content: space-between;
}
.btns{
    display: flex;
    justify-content: space-around;
}
button {
  width: 110px;
  height: 50px;
  border-radius: 18px;
  border: 2px solid blue;
  background-color: rgba(167, 183, 234, 0.878);
}
button:hover {
  border-radius: 18px;
  background-color: rgb(80, 177, 196);
}
button:active {
    background-color: blueviolet;
}
.divtable {
    display: flex;
    justify-content: center;
}
table ,th,td{
    border: 1px solid blue;
}
table th{
    background-color: rgb(135, 248, 248);
}